@import '../../style/variables';

.food-filter {
  &__list {
    display: grid;
    grid-template: 60px / repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 60px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $main-bg-for-objects;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #F3F5F0;
    text-align: center;
    cursor: pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $main-color-text;
  }
  &__item:last-child {
    border-width: 1px;
    border-radius: 0px 20px 20px 0px;
  }
  &__item:first-child {
    border-width: 1px;
    border-radius: 20px 0px 0px 20px;
  }
  &_wrapper {
    display: none;
  } 
}

.food-line-outer {
  color: white;
  overflow: hidden;
  text-transform: uppercase;
  width: 98%;
  margin: 30px auto;
}

.food-line-inner {
  display: flex;
  width: 200%;
  &-item {
    margin-right: 30%;
  }
}

@keyframes run {
  0% {
    //
  }
  100% {
    transform: translateX(-50%);
  }
}

.run {
  animation: run infinite 30s linear;
}

.active-btn {
	background: #8F4069;
  border-color: #222222;
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .food-filter_content {
    display: grid;
    grid-template: 51px / minmax(auto, 600px);
    justify-content: center;
    margin: 65px 0 0 0;
    padding: 0 10px;
  }
  .food-filter {
    &__list {
      display: none;
    }
    &_wrapper {
      display: block;
    } 
  }
  .drop-down-list {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px 30px 16px 20px;
    border: 1px solid #f3f5f0;
    border-radius: 20px;
    color: $main-color-text;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url("../../resources/img/arrow-24.png") no-repeat 95% center;
    background-color: #8F4069;
  }
}

@media (max-width: 575px) {}