@import '../../style/variables';

.food-items {
  display: grid;
  grid-template: minmax(500px, auto) / repeat(auto-fit, minmax(280px, 360px));
  grid-auto-rows: minmax(500px, auto);
  justify-content: center;
  row-gap: 90px;
  column-gap: 40px;
  margin: 65px 0 30px 0;
  padding: 0 10px;
}

.basket {
  transition: all 0.2s ease-in-out;

  &_show {
    opacity: 1;
    visibility: visible;
  }

  &_hidden {
    opacity: 0;
    visibility: hidden;
  }

  &_wrapper {
    position: fixed;
    top: 100px;
    right: 45px;
    z-index: 10;
  }

  &__img {
    background: url('../../resources/icons/shopping-cart-40.png') center no-repeat;
    background-color: #333333;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
      border: 1px solid $btn-color;
      box-shadow: 0 0 10px 0 $btn-color;
    }
  }

  &__counter {
    position: fixed;
    z-index: 60;
    top: 145px;
    right: 40px;
    width: 24px;
    height: 24px;
    background-color: $btn-color;
    color: $main-color-text;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    font-size: 14px;
  }
}

.order-list {
  transition: all 0.3s ease-in-out;

  &_show {
    opacity: 1;
    visibility: visible;
  }

  &_hidden {
    opacity: 0;
    visibility: hidden;
  }

  &_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
    overflow-y: auto;
  }

  &__popup {
    margin: 65px auto;
    padding: 40px;
    width: 100%;
    max-width: 560px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
  }

  &__close {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 43px;
    height: 43px;
    display: flex;
  }

  &__close-btn {
    width: 100%;
    padding: 10px;
    font-size: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & span {
      display: block;
      width: 100%;
      margin-bottom: -3px;
      background-color: $btn-color;
      height: 3px;

      &:nth-child(1) {
        transform: rotate(-45deg)
      }

      &:nth-child(2) {
        transform: rotate(45deg)
      }
    }
  }

  &__title {
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
    color: #000000;
  }

  &__products {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
  }

  &__product-item {
    width: 100%;
    margin: 15px 0;
    display: grid;
    grid-template: 70px / 70px 165px 70px 1fr 20px;
    grid-auto-rows: 70px;
    column-gap: 15px;
    align-items: center;
    overflow: hidden;

    &:hover .order-list__sign {
      opacity: 1;
    }
  }

  &__img {
    border-radius: 7px;
    background-color: #eeeeee;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__descr {
    white-space: nowrap;
    overflow: hidden;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__features {
    opacity: .7;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  &__sign {
    cursor: pointer;
    opacity: .4;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    transition: opacity 0.2s;
  }

  &__minus span {
    width: 100%;
    height: 1px;
    border-radius: 50px;
    background-color: #000;
  }

  &__plus {
    position: relative;
  }

  &__plus span {
    border-radius: 50px;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;

    &:nth-child(1) {
      width: 10px;
      height: 1px;
    }

    &:nth-child(2) {
      width: 1px;
      height: 10px;
      position: absolute;
    }
  }

  &__qty {
    font-size: 16px;
    color: #000;
    line-height: 1.55;
    font-weight: 300;
  }

  &__amount {
    text-align: center;
    font-size: 16px;
    color: #000;
    line-height: 1.55;
    font-weight: 300;
  }

  &__del-product {
    width: 20px;
    height: 20px;
    position: relative;

    & span {
      position: absolute;
      width: 13px;
      height: 1px;
      border-radius: 50px;
      background-color: #000;
      background-position: center;
      border-radius: 50px;

      &:nth-child(1) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }
    }
  }

  &__total-amount {
    padding: 30px 0 20px 0;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: #000;
  }
}

.order-list__form {
  margin: 20px 0;
}

.order-form {
  &__enterInfo {
    margin: 0 0 20px 0;

    & p {
      margin: 3px 0 10px 0;
    }
  }

  &__usualLabel {
    color: $popup-text-color;
    font-weight: 400;
    font-size: 16px;
    padding: 0 10px 0 0;
    line-height: 1.55;
  }

  &__usualInput {
    color: $main-color-text;
    border: 2px solid $main-bg-for-objects;
    background-color: #000000;
    border-radius: 10px;
    height: 56px;
    width: 100%;
    padding: 0 20px;
    margin: 5px 0 0 0;
    font-size: 16px;
    line-height: 1.33;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  &__subtitle {
    color: $popup-text-color;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 10px;
    line-height: 1.55;
  }

  &__radio {
    margin-bottom: 10px;
  }

  &__radio input[type='radio'] {
    display: none;
  }

  &__radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    user-select: none;

    font-size: 15px;
    line-height: 1.55;
    font-weight: 300;
    color: $popup-text-color;
  }

  &__radio label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: all 0.2s;
    background: url('../../resources/icons/radio-1.png') 0 0 no-repeat;
  }

  /* Checked */
  &__radio input[type=radio]:checked+label:before {
    background: url('../../resources/icons/radio-2.png') 0 0 no-repeat;
  }

  &__radio input[type=radio]:checked+label {
    font-weight: 400;
  }

  /* Hover */
  &__radio label:hover:before {
    filter: brightness(120%);
  }

  &__orderAmount {
    margin: 55px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-align: right;
    & div {
      margin-bottom: 2px;;
    }
  }
  &__totalAmount {
    font-weight: 600;
  }
  &__orderBtn {
    margin: 30px 0 10px 0;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    background-color: $main-bg-for-objects;
    border-radius: 20px;
    text-align: center;
    color: $main-color-text;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $btn-color;
    }
  }
}

.food-list-enter {
  opacity: 0;
}

.food-list-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.food-list-exit {
  opacity: 1;
}

.food-list-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@media (max-width: 1200px) {
  .food-items {
    display: grid;
    grid-template: minmax(500px, auto) / repeat(auto-fit, 300px);
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .order-list {
    &__popup {
      max-width: 460px;
    }

    &__product-item {
      display: grid;
      grid-template: 70px / 70px 1fr 60px 60px 20px;
      column-gap: 10px;
    }
  }

  .basket {
    &_wrapper {
      right: 15px;
    }

    &__counter {
      right: 10px;
    }
  }
}

@media (max-width: 575px) {
  .food-items {
    display: grid;
    grid-template: minmax(500px, auto) / minmax(280px, 360px);
  }

  .order-list {
    &__popup {
      max-width: 460px;
    }

    &__product-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__img {
      display: none;
    }

    &__descr {
      max-width: 80%;
      height: 35px;
    }

    &__counter {
      width: 70px;
    }

    &__amount {
      margin-top: 10px;
    }

    &__del-product {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__close {
      right: 10px;
    }
  }
}